@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
$main_order-color: white;

.any_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

// tempStorePage
.tempStorePage_div {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid white;
  height: 300px;
  width: 250px;
  box-sizing: border-box;
  position: relative;

  @media(min-width: 1400px){
    height: 380px;
    width: 350px;
  }
}

.img_all_storePage {
  height: 180px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;

  @media(min-width: 1400px){
    height: 230px;
  }
}
.div_for_price_storePage {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);

  @media(min-width: 1400px){
    font-size: large;
  }
}
.Button_StorePage {
  position: absolute;
  bottom: 0px;
  right: 0px;
  @media(min-width: 1400px){
    height: 50px;
    width: 50px; 
    font-size: x-large;
  }
}
.main_div_StorePage_up {
  position: relative;
  padding-bottom: 20px;
}
.Pagination {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 600px) {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translate(0, 0);
    display: inline-table;
  }
}
.page-link {
  background: rgb(24, 33, 43);
  color: white;
  @media (max-width: 600px) {
    border-radius: 50%;
  }
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: rgb(24, 33, 43);
  border: 2px white solid;
  border-color: rgb(255, 255, 255);
  box-sizing: border-box;
  @media (max-width: 600px) {
    border-color: rgb(250, 0, 196);
  }
}

.div_for_name_storePage {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);

  @media(min-width: 1400px){
    font-size: x-large;
  }
}
.main_div_sort{
  display: flex;
  margin-right: 20px;
  float: right;

  @media(min-width: 1400px){
    font-size: large;
  }

  @media(max-width:600px){
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%,0);
    width: 250px;
  }
}
.sort_on_price{
  margin-left: 10px;
}
// BasketPage
.main_div_basketPage {
  position: relative;
}
.Order_btn {
  width: 150px;
  height: 30px;
  position: fixed;
  bottom: 25px;
  right: 40px;
  cursor: pointer;
  border: 1px main_order solid;
  border-radius: 25px;
  text-align: center;
  background: crimson;
  &:hover {
    background: crimson;
    transition: all 0.4s linear;
  }

  @media(min-width: 1400px){
    font-size: large;
    height: 35px;
    width: 160px;
    bottom: 30px;
  }
}
.Order_label {
  position: fixed;
  height: 400px;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  background: rgb(0, 72, 85);
  color: $main_order-color;
  @media (max-width: 800px) {
    width: 90%;
  }
  @media(max-width:600px){
    width: 100%;
  }
  @media(min-width:1400px){
    height: 500px;
    width: 900px;
    font-size: large;
  }

  .Order_btn_inside {
    width: 37px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    color: $main_order-color;
  }
}
.temp_div_basketPage {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  width: 100%;
  height: 200px;
  border: solid $main_order-color 1px;
  position: relative;

  @media(min-width: 1400px){
    height: 220px;
  }
}
.temp_div_img_basketPage {
  position: absolute;
  height: 180px;
  width: 180px;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 690px) {
    height: 140px;
    top: 10px;
    transform: translate(0, 0);
    max-width: 140px;
    left: 10px;
  }

  @media(min-width: 1400px){
    height: 210px;
    width: 210px;
  }
}
.name_div_basketPage {
  position: absolute;
  top: 50%;
  left: 220px;
  width: 100px;
  transform: translate(0, -50%);

  @media (max-width: 690px) {
    top: 90%;
    left: 45px;
  }
  @media (max-width: 450px) {
    top: 84%;
    left: 0px;
    width: 160px;
    text-align: center;
  }

  @media(min-width: 1400px){
  left: 240px;
  font-size: x-large;
  }
}
.price_div_basketPage {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  @media (max-width: 450px) {
    left: 45px;
    top: 94%;
    transform: translate3d(0, 0);
  }
  @media(min-width: 1400px){
    font-size: x-large;
    }
}
.btn_delete_basket {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  @media(max-width:500px){
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.description_div_basketPage {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 340px;
  transform: translate(0, -50%);
  @media (max-width: 690px) {
    left: 200px;
  }
  @media (max-width: 500px) {
    height: 140px;
    width: 160px;
    overflow-y: scroll;
    left: 165px;
  }
  @media(min-width: 1400px){
    left: 400px;
    font-size: large;
    }
}

// TempOrderPage
.TempOrderPage_div {
  border-bottom: 1px solid $main_order-color;
  box-sizing: border-box;

  height: 50px;
  width: 100%;
  position: relative;

  .data_name {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    @media (max-width: 600px) {
      left: 100px;
    }
  }
  .data_price {
    position: absolute;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
    @media (max-width: 600px) {
      left: 200px;
    }
  }
}
.Order_page_basket {
  margin-top: 75px;
  border-top: 1px solid rgb(255, 255, 255);
  height: 200px;
  overflow-y: scroll;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.button_order_basket {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 25px;
  width: 25px;
  border-radius: 25px;
}
.form_order_basket_tel {
  position: absolute;
  bottom: 20px;
  left: 300px;
  margin-top: 4px;
  width: 200px;

  @media (max-width: 600px) {
    left: 10px;
    bottom: 90px;
  }
}
.form_order_basket_name {
  position: absolute;
  bottom: 20px;
  left: 50px;
  margin-top: 4px;
  width: 200px;
  @media (max-width: 600px) {
    left: 10px;
    bottom: 10px;
  }
}
.Button_oder_basket {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  background: #004855;
  @media(max-width:600px){
    bottom: 10px;
    right: 15px;
  }
}
.price_order_basket {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 240px;
  height: 30px;
  text-align: center;
}
.order_confirm {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 180px;
  height: 20px;
  color: crimson;
}
.Order_page_basket::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
}
.Order_page_basket::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* цвет дорожки */
  border-radius: 25px;
}
.Order_page_basket::-webkit-scrollbar-thumb {
  background-color: #b8e5ff; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid #b8e5ff; /* padding вокруг плашки */
}

.description_div_basketPage::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
  @media (max-width: 800px) {
    width: 6px;
  }
}
.description_div_basketPage::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* цвет дорожки */
  border-radius: 25px;
}
.description_div_basketPage::-webkit-scrollbar-thumb {
  background-color: #b8e5ff; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid #b8e5ff; /* padding вокруг плашки */
  @media (max-width: 800px) {
    border: 1px solid #b8e5ff;
  }
}

.Link_on_good {
  height: 100%;
  width: 100%;
  background: red;
  z-index: 2;
}
.div_storePage_explain {
  width: 35px;
  height: 35px;
  position: absolute;
  font-size: large;
  text-align: center;
  bottom: 10px;
  left: 0px;
  cursor: pointer;
  border-radius: 50%;
  font-size: xx-large;

  z-index: 2;
}
.offcanvas-body{
  @media(min-width: 1400px){
    font-size: large;
  }
}
.main_div_setName{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 250px;
  display: flex;

  @media(max-width:600px){
 
  }
}
.ButtonSearch{
  height: 30px;
  width: 30px;
  background-image: url("../src/images/searchButtons.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.main_divErrors{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: grid;
  grid-template-rows: 300px 50px;
  
  @media(max-width:600px){
    top: 50px;
    left: 0px;
    transform: translate(0,0);
    width: 100%;
    height: 80vh;
    min-width: 100vw;
    justify-content: center;
  }
  @media(min-width: 1400px){
    min-width: 600px;
    min-height: 600px;
    grid-template-rows: 500px;
  }
  
}
.newErrorsStorePage{
  background-image: url("../src//images/not_found.svg");
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.newErrorsMessage{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  @media(min-width: 1400px){
    font-size: x-large;
    width: 100%;
    text-align: center;
  }
}
.errorsMessage{
  color: red;
  font-size: small;
  position: absolute;
  top: 30px;
  @media(max-width:800px){
    font-size: x-small;
  }
}