.any_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

// tempStorePage
.tempStorePage_div {
  border: 1px solid white;
  height: 300px;
  width: 250px;
  box-sizing: border-box;
  position: relative;
}

.img_all_storePage {
  height: 180px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.div_for_price_storePage {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
.Button_StorePage {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.main_div_StorePage_up {
  position: relative;
}
.Pagination {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 600px) {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translate(0, 0);
  }
}
.page-link {
  background: rgb(24, 33, 43);
  color: white;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: rgb(24, 33, 43);
  border: 2px white solid;
  border-color: rgb(255, 255, 255);
  box-sizing: border-box;
  @media (max-width: 600px) {
    border-color: red;
  }
}

.div_for_name_storePage {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

// BasketPage
.main_div_basketPage {
  position: relative;
}
.Order_btn {
  width: 150px;
  height: 30px;
  position: fixed;
  bottom: 25px;
  right: 40px;
  cursor: pointer;
  border: 1px white solid;
  border-radius: 25px;
  text-align: center;

  &:hover {
    background: crimson;
    transition: all 0.4s linear;
  }
}
.Order_label {
  position: fixed;
  height: 400px;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;

  @media (max-width: 800px) {
    width: 90%;
  }

  .Order_btn_inside {
    width: 37px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
  }
}
.temp_div_basketPage {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  width: 100%;
  height: 200px;
  border: solid white 1px;
  position: relative;
}
.temp_div_img_basketPage {
  position: absolute;
  height: 180px;
  width: 180px;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 690px) {
    height: 140px;
    top: 10px;
    transform: translate(0, 0);
  }
}
.name_div_basketPage {
  position: absolute;
  top: 50%;
  left: 220px;
  transform: translate(0, -50%);

  @media (max-width: 690px) {
    top: 90%;
    left: 45px;
  }
}
.price_div_basketPage {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}
.btn_delete_basket {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
}
.description_div_basketPage {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 340px;
  transform: translate(0, -50%);
  @media (max-width: 690px) {
    left: 200px;
  }
  @media (max-width: 500px) {
    height: 140px;
    width: 160px;
    overflow-y: scroll;
    left: 165px;
  }
}

// TempOrderPage
.TempOrderPage_div {
  border-bottom: 1px solid black;
  box-sizing: border-box;

  height: 50px;
  width: 100%;
  position: relative;

  .data_name {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: black;
    @media (max-width: 600px) {
      left: 100px;
    }
  }
  .data_price {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: black;
    @media (max-width: 600px) {
      left: 200px;
    }
  }
}
.Order_page_basket {
  margin-top: 75px;
  border-top: 1px solid black;
  height: 200px;
  overflow-y: scroll;
}
.button_order_basket {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 25px;
  width: 25px;
  border-radius: 25px;
}
.form_order_basket_tel {
  position: absolute;
  bottom: 20px;
  left: 300px;
  margin-top: 4px;
  color: black;
  width: 200px;

  @media (max-width: 600px) {
    left: 50px;
    bottom: 100px;
  }
}
.form_order_basket_name {
  position: absolute;
  bottom: 20px;
  left: 50px;
  margin-top: 4px;
  color: black;
  width: 200px;
}
.Button_oder_basket {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.price_order_basket {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  height: 30px;
  text-align: center;
  color: black;
}
.order_confirm {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 180px;
  height: 20px;
  color: crimson;
}
