.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.registr {
  height: 200px;
  min-height: 200px;
  width: 60%;
  min-width: 290px;
  position: relative;
  border: 1px solid white;
  border-radius: 25px;

  max-width: 550px;

  @media(min-width: 1400px){
    max-width: 700px;
    height: 300px;
  }
}

.signButton {
  position: absolute;
  height: 30px;
  bottom: 20px;
  left: 50%;
  width: 120px;
  transform: translate(-50%, 0);
  border: 1px solid crimson;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  &:hover {
    background: crimson;
    transition: all 0.3s linear;
  }
}
.div_title {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: large;

  @media (max-width: 450px) {
    width: 200px;
    left: 59%;
  }
}
.img_person {
  position: absolute;
  border: 1px solid white;
  height: 50px;
  width: 50px;
  top: 20px;
  right: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.img_google {
  position: absolute;

  left: 100px;
  transform: translate(-50%, 0);
  height: 40px;
  width: 40px;
  background-image: url('../images/google_logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  @media (max-width: 600px) {
    top: 90px;
  }
  @media(min-width: 1400px){
    height: 55px;
    width: 54px;
    left: 110px;
  }
}
.navHome {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/navHome.svg');
  color: white;
  cursor: pointer;
}

// Auth Yandex:
.main_div_Yandex {
  position: absolute;
  left: 34%;
  transform: translate(-50%, 0);
  height: 42px;
  width: 42px;
  background-image: url('../images/auth_vk.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  @media (max-width: 600px) {
    top: 90px;
  }
  @media(min-width: 1400px){
    height: 55px;
    width: 55px;
    left: 22%;
  }
}
.main_buttons {
  width: 140px;
  height: 50px;
  position: relative;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 600px) {
    top: 28px;
  }
}
.div_auth{
  position: absolute;
  top: 165px;
  color: rgb(206, 206, 255);
  left: 50%;
  transform: translate(-50%,0);
  cursor: pointer;

  @media(min-width: 1400px){
    top: 250px;
  }
}
.div_auth2{
  position: absolute;
  top: 165px;
  color: rgb(206, 206, 255);
  left: 320px;
  transform: translate(-50%,0);
  cursor: pointer;
  @media(max-width:500px){
    width: 150px;
    left: 250px;
  }

  @media(min-width: 1400px){
    top: 200px;
    left: 375px;
  }
}
.button_login{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 140px;
  left: 40px;
  height: 30px;
  transform: translate(-50%, 0);

  @media(min-width: 1400px){
    top: 160px;
  }
}
.authSite{
  height: 200px;
  min-height: 200px;
  width: 100%;
  min-width: 290px;
  position: relative;
  border: 1px solid white;
  border-radius: 25px;
  max-width: 550px;
  box-sizing: border-box;

  @media(min-width: 1400px){
    height: 300px;
    max-width: 700px;
  }
}
.button_registr{
  position: absolute;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);

  @media(min-width: 1400px){
    transform: translate(-85%,0);
  }
}
.formGroup{
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%,0);
  width: 40%;

  @media(max-width:500px){
    width: 60%;
  }
  @media(min-width: 1400px){
    top: 40px;
    transform: translate(-35%,0);
    width: 60%;

    input{
      width: 120%;
    }
  }
}

.errors{
  font-size: small;
}
.img_hidden{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 88px;
  left: 385px;
  background-image: url('../images/hidden_password.svg');
  background-size: contain;
  cursor: pointer;
  @media(max-width: 500px){
    left: 310px;
  }
  @media(min-width: 1400px){
    left: 480px;
    top: 110px;
  }
}
.recapcha{
position: absolute;
bottom: -130px;
left: 50%;
transform: translate(-50%,0);
visibility: hidden;
}
.textCapcha{
  position: absolute;
  bottom: -30px;
  font-size: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  a{
    text-decoration: none;
    color: white;
  }

  @media(min-width: 1400px){
    font-size: 9px;
  }
}
