.main_div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
}
.main_div_wrapper {
  height: 100%;
  width: 90%;
  @media (max-width: 900px) {
    width: 90%;
  }

  span {
    margin-left: 25px;
  }
}
.upper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  font-size: 32px;
  cursor: pointer;
  background-image: url('../images/arrow_top.svg');
 
    text-decoration: none;
    color: white;
 background-repeat: no-repeat;
    &:hover{
      color: rgb(255, 255, 255);
    }
}
