@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.main_div_oneProd {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  @media (max-width: 780px) {
    min-height: 100vh;
  }
}
.main_div_wrapper {
  height: 96%;
  width: 90%;
  position: relative;
  display: flex;

  @media(min-width: 1400px){
    height: 80%;
  }
}
.image_div {
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;

  @media(max-width:780px){
    left: 50%;
    transform: translate(-50%,0);
    width: auto;
    min-width: 250px;
  }
  @media(min-width: 1400px){
    width: 350px;
    height: 350px;
}
}
.price {
  position: absolute;
  top: 360px;
  left: 125px;
  font-size: 5vh;
  transform: translate(-50%, 0);
  @media (max-width: 780px) {
    left: 50%;
    transform: translate(-50%,0);
    font-size: x-large;
  }
  @media(min-width: 1400px){
      top: 420px;
  }
}

.description {
  position: absolute;
  top: 0px;
  left: 320px;
  max-width: 500px;
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow-y: auto;
  font-size: large;

  @media (max-width: 930px) {
    width: 400px;
  }
  @media (max-width: 780px) {
    width: 300px;
    text-align: left;
    left: 50%;
    transform: translate(-50%,0);
    top: 420px;
    font-size: large;
  }
  @media(min-width: 1400px){
    left: 50%;
    transform: translate(-50%,0);
    font-size: x-large;
    top:35px;
  }
}
.name {
  position: absolute;
  width: 500px;
  text-align: center;
  height: 50px;
  top: 20px;
  left: 320px;
  font-size: xx-large;
  transform: translate(0, 0);

  @media (max-width: 930px) {
    width: 400px;
  }
  @media (max-width: 780px) {
    top: 400px;
    left: 50%;
    transform: translate(-50%,0);
    width: auto;
    text-align: start;
    font-size: large;
  }
  @media(min-width: 1400px){
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.raiting {
  position: absolute;
  left: 430px;
  top: 300px;
  height: 50px;
  width: 320px;
  display: flex;
  font-size: 25px;
  .star {
    color: white;
  }

  @media (max-width: 930px) {
    left: 370px
  }
  @media (max-width: 780px) {
    left: 50%;
    transform: translate(-50%,0);
    top: 670px;
  }
  @media(min-width: 1400px){
    top: 330px;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
  }
}

.setRaiting {
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  text-align: center;
  justify-content: center;

  top: 300px;
  left: 85px;
  @media(max-width:780px){
    left: 50%;
    transform: translate(-50%,0);
  }
  @media(min-width: 1400px){
    top: 350px;
  }
}
.stars {
  font-size: 40px;
  position: relative;
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    color: yellow;
    transition: all 0.3s linear;
  }
  @media(min-width: 1400px){
    font-size: 50px;
  }
}
.setOneRaiting {
  font-size: 15px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);

  @media(min-width: 1400px){
    top: 40px;
    font-size: large;
  }
}
.main{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  
}
.review{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 100%;
  margin-top: -80px;
  position: relative;

  @media(max-width:800px){
    margin-top: 120px;
  }
  @media(max-width:600px){
    margin-top: 120px;
  }
  @media(min-width: 1400px){
    margin-top: -200px;
  }
}
.review_crap{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_oneMessage_div{
  width: 80%;
}
.oneMessage{
  width: 100%;
  height: 100px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  position: relative;
}
.imgPersonMessage{
  width: 50px;
  height: 50px;
  min-width: 50px;
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin-right: 10px;

}
.review_div{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%,0);
}
.FormSendReview{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.FormSendReviewCrap{
  margin-top: 25px;
  width: 80%;
  border: 1px solid yellow;
  display: flex;
  justify-content: center;
}
.messageError{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.erros{
  width: 80%;
  color: red;
  @media(min-width: 1400px){
    font-size: large;
  }
}
.textMessage{
  width: 90%;
  min-width: 50vw;
  height: 65px;
  display: flex;
  word-break: break-all;
  overflow-y: auto;
  @media(min-width: 1400px){
    font-size: large;
  }
}

.textMessage::-webkit-scrollbar {
  width: 6px; /* ширина scrollbar */
}
.textMessage::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* цвет дорожки */
  border-radius: 25px;
}
.textMessage::-webkit-scrollbar-thumb {
  background-color: #b8e5ff; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 2px solid #b8e5ff; /* padding вокруг плашки */
}

.textMessage::-webkit-scrollbar {
  width: 6px; /* ширина scrollbar */
  @media (max-width: 800px) {
    width: 4px;
  }
}
.textMessage::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* цвет дорожки */
  border-radius: 25px;
}
.textMessage::-webkit-scrollbar-thumb {
  background-color: #000000; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid #006179; /* padding вокруг плашки */
  @media (max-width: 800px) {
    border: 1px solid #006179;
  }
}
.AdminRemoveMessage{
  position: absolute;
  top: 0px;
  right: 0px;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.paginationArray{
  width: 80%;
  margin-top: 10px;
}